.logo {
   text-decoration: none !important;
   color: white !important;
}

.text-bold {
   font-weight: bold !important;
}

.add {
   color: #16C79A;
}

.add:hover {
   color: #196b33;
}

.title-border {
   border: 4px solid #dee2e6 !important;
}

.username {
   cursor: pointer;
}